#
# This file is for convenience only, to quickly set up what is necessary to develop in some IDE
# The real runtime requirements are held in pyproject.toml. BE SURE to update both files if necessary.

# Build/Test requirements

setuptools==76.0.0
build==1.2.2.post1                  # MIT
wheel==0.45.1                       # MIT

pytest==8.3.5                       # MIT
pytest-cov==6.0.0                   # MIT
mypy==1.15.0                        # MIT
types-PyYAML==6.0.12.20241230       # Apache 2.0
httpx==0.28.1                       # BSD-3-Clause
